{% extends "base.html" %}

{% block css %}
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" rel="stylesheet" />
  <link href="{{ static('css/map.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <h2>Firefox OS prices</h2>

  <form>
    {{ csrf() }}
    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="onlineshop-check"> Is this an online shop?
          </label>
        </div>
        <div class="form-group" id="location">
          <label for="location">Location</label>
          <div class="form-group">
            <div id="map"></div>
            <div class="form-control-static" id="location-text">Getting your location...</div>
          </div>
          <div class="form-group">
            Coordinates:<br class="hidden-lg">
            <input type="text" placeholder="Latitude" id="lat" readonly required>
            <input type="text" placeholder="Longitude" id="lon" readonly required>
          </div>
        </div>
        <div class="form-group" id="onlineshop">
          <label for="shoplink">Shop link</label>
          <div class="form-group">
            <input type="url" class="form-control" name="shoplink">
          </div>
          <div class="form-group">
            <label for="shopcountry">Country</label>
            <select class="form-control" name="device-model">
              <option>Greece</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="shopname">Shop Name</label>
          <input type="text" class="form-control" name="shopname">
        </div>
        <div class="form-group">
          <label for="fxosdevice">Device</label>
          <select class="form-control" name="device-name">
            <option>Alcatel One Touch</option>
            <option>LG Fireweb</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Purchase availability
          </label>
        </div>
        <div class="form-group hidden-xs hidden-sm">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pricenoplan">Price with no plan</label>
          <input type="number" class="form-control" name="pricenoplan" id="pricenoplan">
        </div>
        <div id="fieldset-planprices">
          <div class="form-group" id="planprices">
            <label for="pricenoplan">Price with plan</label>
            <div class="form-group">
              Carrier
              <select class="form-control" name="fxosdevice">
                <option>Cosmote</option>
                <option>Vodafone</option>
              </select>
            </div>
            <div class="form-group">
              Plan name
              <input type="text" class="form-control" name="planname" id="planname">
            </div>
            <div class="form-group">
              Amount
              <input type="number" class="form-control" name="pricenoplan" id="pricenoplan">
            </div>
          </div>
        </div>
        <div class="form-group">
          <a href="#" id="planprices-addfield">Add another plan</a>
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea name="comment" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group hidden-md hidden-lg">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
  <script src="{{ static('js/location.js') }}"></script>
  <script src="{{ static('js/price_new.js') }}"></script>
{% endblock %}