{% extends "base.html" %}

{% block css %}
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" rel="stylesheet" />
  <link href="{{ static('css/map.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <h2 class="title">Firefox OS prices</h2>

  {% if location_form.errors or contribution_form.error %}
    <div class="row messages">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          Please correct the following errors
        </div>
      </div>
    </div>
  {% endif %}

  <form method="post" novalidate>
    {{ csrf() }}

    <div class="row">
      <div class="col-md-6">

        <fieldset>
          <legend>Shop</legend>
          <div class="form-group switch">
            <label for="id_is_online">Is this an online shop?</label>
            <label class="pack-switch">
              {{ location_form.is_online }}
              <span></span>
            </label>
          </div>
          <div class="form-group">
            {{ field_with_attrs(location_form.shop_name,
                                placeholder='Please provide the name of the shop')}}
            {{ field_errors(location_form.shop_name) }}
          </div>
          <div class="form-group" id="onlineshop">
            <div class="form-group">
              {{ field_with_attrs(location_form.link, placeholder="http://www.example.com") }}
              {{ field_errors(location_form.link) }}
            </div>
            <div class="form-group">
              {{ field_with_attrs(location_form.country, class="form-control") }}
            </div>
            {{ field_errors(location_form.country) }}
          </div>
        </fieldset>

        <fieldset id="location">
          <legend>Location</legend>
          <div class="form-group">
            <div id="map" data-mapboxid="{{ mapbox_id }}" data-mapboxtoken="{{ mapbox_token }}"></div>
            <small id="location-text">Getting your location...</small>
            {{ location_form.lat }}
            {{ location_form.lng }}
          </div>
          {{ field_errors(location_form.lat) }}
          {{ field_errors(location_form.lng) }}
        </fieldset>

        <fieldset>
          <legend>Device</legend>
          <div class="form-group">
            {{ field_with_attrs(contribution_form.device, class="form-control") }}
          </div>
          {{ field_errors(contribution_form.device) }}
          <div class="form-group switch">
            <label for="id_availability">Purchase availability</label>
            <label class="pack-switch">
              {{ contribution_form.availability }}
              <span></span>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Prices</legend>
          <div id="fieldset-planprices">
            <div class="form-group planprices">
              <div class="form-group switch">
                <label>Is this a plan?</label>
                <label class="pack-switch">
                  <input type="checkbox" class="hasplan-check" name="has_plan">
                  <span></span>
                </label>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <input type="number" name="price" placeholder="Price">
                </div>
                <div class="col-xs-4">
                  <select name="currency" class="form-control">
                    <option selected>Currency</option>
                    <option>&euro;</option>
                    <option>$</option>
                  </select>
                </div>
              </div>
              <div class="form-group hasplan">
                <select name="carrier" class="form-control">
                  <option selected>Carrier</option>
                  <option>Cosmote</option>
                  <option>Vodafone</option>
                </select>
              </div>
              <div class="form-group hasplan">
                <input type="text" name="description" placeholder="Plan name">
              </div>
              <div class="form-group hasplan">
                <input type="text" name="duration" placeholder="Plan duration">
              </div>
            </div>
          </div>
          <div class="form-group">
            <a href="#" id="planprices-addfield" class="btn btn-default">Add another price</a>
          </div>
        </fieldset>
        <fieldset>
          <legend>Comment</legend>
          <div class="form-group">
            <textarea name="comment" rows="3"></textarea>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
  <script src="{{ static('js/location.js') }}"></script>
  <script src="{{ static('js/price_new.js') }}"></script>
{% endblock %}
