{% extends "base.html" %}

{% block css %}
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" rel="stylesheet" />
  <link href="{{ static('css/map.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <h2 class="title">Firefox OS prices</h2>

  {% if location_form.errors or contribution_form.errors or plan_formset.errors %}
    <div class="row messages">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          Please correct the following errors
        </div>
      </div>
    </div>
  {% endif %}

  <form method="post" novalidate>
    {{ csrf() }}

    <div class="row">
      <div class="col-md-6">
        <fieldset>
          <legend>Shop</legend>
          <div class="form-group switch">
            <label for="id_is_online">Is this an online shop?</label>
            <label class="pack-switch">
              {{ location_form.is_online }}
              <span></span>
            </label>
          </div>
          <div class="form-group">
            {{ field_with_attrs(location_form.shop_name,
                                placeholder='Please provide the name of the shop')}}
            {{ field_errors(location_form.shop_name) }}
          </div>
          <div class="form-group" id="onlineshop">
            <div class="form-group">
              {{ field_with_attrs(location_form.link, placeholder="http://www.example.com") }}
              {{ field_errors(location_form.link) }}
            </div>
            <div class="form-group">
              {{ field_with_attrs(location_form.country, class="form-control") }}
            </div>
            {{ field_errors(location_form.country) }}
          </div>
        </fieldset>

        <fieldset id="location">
          <legend>Location</legend>
          <div class="form-group">
            <div id="map" data-mapboxid="{{ mapbox_id }}" data-mapboxtoken="{{ mapbox_token }}"></div>
            <small id="location-text">Getting your location...</small>
            {{ location_form.lat }}
            {{ location_form.lng }}
          </div>
          {{ field_errors(location_form.lat) }}
          {{ field_errors(location_form.lng) }}
        </fieldset>

        <fieldset>
          <legend>Device</legend>
          <div class="form-group">
            {{ field_with_attrs(contribution_form.device, class="form-control") }}
          </div>
          {{ field_errors(contribution_form.device) }}
          <div class="form-group switch">
            <label for="id_availability">In stock</label>
            <label class="pack-switch">
              {{ contribution_form.availability }}
              <span></span>
            </label>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6">
        <fieldset>
          <legend>Device Prices</legend>
          <div id="fieldset-planprices">
            <div class="form-group planprices">
              {% for plan_form in plan_formset %}
                <div class="form-group switch">
                  <label for="id_{{ plan_form.prefix}}-has_plan">
                    Does this price come with a plan?
                  </label>
                  <label class="pack-switch">
                    {{ field_with_attrs(plan_form.has_plan, class="hasplan-check") }}
                    <span></span>
                  </label>
                  {{ field_errors(plan_form.has_plan) }}
                </div>
                <div class="row">
                  <div class="col-xs-8">
                    {{ field_with_attrs(plan_form.amount, placeholder="Device Price") }}
                    {{ field_errors(plan_form.amount) }}
                  </div>
                  <div class="col-xs-4">
                    {{ field_with_attrs(plan_form.currency, class="form-control")}}
                    {{ field_errors(plan_form.currency) }}
                  </div>
                </div>
                <div id="hasplan-{{ plan_form.prefix }}" class="form-group hasplan">
                  {{ field_with_attrs(plan_form.carrier,
                                      placeholder="Carrier name",
                                      class="form-control") }}
                  {{ field_errors(plan_form.carrier) }}
                </div>
                <div class="form-group hasplan">
                  <label></label>
                  {{ field_with_attrs(plan_form.monthly_fee, placeholder="Monthly fee") }}
                  {{ field_errors(plan_form.monthly_fee) }}
                </div>
                <div class="form-group hasplan">
                  {{ field_with_attrs(plan_form.description, placeholder="Plan description") }}
                  {{ field_errors(plan_form.description) }}
                </div>
                <div class="form-group hasplan">
                  <label></label>
                  {{ field_with_attrs(plan_form.duration, placeholder="Plan duration") }}
                  {{ field_errors(plan_form.duration) }}
                </div>
              {% endfor %}
            </div>
          </div>
          {{ plan_formset.management_form }}
        </fieldset>
        <fieldset>
          <legend>Comment</legend>
          <div class="form-group">
            {{ field_with_attrs(contribution_form.comment,
                                rows="3",
                                placeholder="Add any comments")}}
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
  <script src="{{ static('js/jquery.formset.js') }}"></script>
  <script src="{{ static('js/location.js') }}"></script>
  <script src="{{ static('js/price_new.js') }}"></script>
{% endblock %}
