<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mozilla Market Pulse {% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css" media="screen" />

    <!--[if lte IE 8]>
      <script src="{{ static('js/libs/html5shiv.js') }}"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap.min.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/sandstone.min.css') }}" media="screen" />
    <link rel="stylesheet" href="{{ static('gaia/input_areas.css') }}">
    <link rel="stylesheet" href="{{ static('gaia/switches.css') }}" >
    {{ browserid_css() }}
    <link rel="stylesheet" type="text/css" href="{{ static('css/app.css') }}" media="screen" />
    {% block css %}
    {% endblock %}
  </head>

  <body class="stone">
    {{ browserid_info() }}
    <div id="outer-wrapper">
      <div id="wrapper">
        <header id="masthead">
          <div>
            <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
          </div>

          <div id="navigation" role="navigation">
            <a id="hamburger-button" href="#"><img src="{{ static('img/hamburger.png') }}" /></a>

            {% if user.is_authenticated() %}
              <div id="nav-main">
                <a href="#" class="dropdown-toggle">
                  <span class="username">
                    {{ user.email }}
                  </span>
                </a>
                <ul class="dropdown-menu" id="dropdown-menu">
                  <li>
                    <a href="#" id="webapp" data-manifest="{{ get_full_url(url('main:manifest')) }}">Install</a>
                    {{ browserid_logout(text='Logout') }}
                  </li>
                </ul>
              </div>
            {% endif %}
          </nav>
        </header>

        <div class="container">
          <div class="text-center">
            <a href="{{ url('main:home') }}">
              <img class="main-logo" src="{{ static('img/marketpulse.svg') }}" alt="Marketpulse">
            </a>
          </div>

          {% if messages %}
            <div class="row messages">
              <div class="col-md-12">
                {% for notification in messages %}
                  <div class="alert alert-{{ notification.tags }}" role="alert">
                    {{ notification.message }}
                    <a href="#" class="close">&times;</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% block content %}
          {% endblock %}
        </div>
      </div>

      <footer id="colophon">
        <div class="row">

          <div class="footer-logo col-md-4">
            <a href="https://www.mozilla.org"><img src="{{ static('img/sandstone/footer-mozilla.png') }}" alt="mozilla"></a>
            <p class="license">
              Portions of this content are ©1998–2015 by individual mozilla.org contributors. Content available under a
              <a href="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons license</a>.
            </p>
          </div>

          <div class="footer-license col-md-4">
            <div>Marketpulse is a Participation Infrastructure team experiment.</div>
            <p>
              <a href="https://github.com/mozilla/marketpulse">Contribute to this app</a>
            </p>
          </div>

          <div class="col-md-4">
            <ul class="footer-nav">
              <li><a href="https://www.mozilla.org/privacy">Privacy Policy</a></li>
              <li><a href="https://www.mozilla.org/about/legal.html">Legal Notices</a></li>
            </ul>
          </div>

        </div>
      </footer>
    </div>

    <script src="{{ static('js/libs/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ static('js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ static('js/site.js') }}"></script>
    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
    {{ browserid_js() }}
    <script src="{{ static('js/app.js') }}"></script>

    {% block js %}
    {% endblock %}

  </body>
</html>
