/* Generic
==================== */

html,
body,
#outer-wrapper
{
    height: 100%;
}

#wrapper {
    padding-bottom: 20px;
    margin-bottom: -180px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin-top: 15px;
}

.jumbotron {
    background-color: transparent;
    margin: 0px;
    padding: 20px 0px 0px 0px !important;
    font-size: 1.2em;
}

.jumbotron > p {
    display: inline-block;
}

.main-logo {
    width: 200px;
    margin-bottom: 10px
    float: left;
    margin-top: 1px;
}

.main-image {
    border-radius: 10px;
    margin-top: 20px;
}

.mobile-logo {
    display: none;
}

#login {
    display: block;
}

h2.title,
h3.title {
    text-align: center;
}

.messages {
    margin-top: 15px;
}

#onlineshop {
    display: none;
}

.switch {
    text-align: right;
}

.switch label:first-child {
    float:left;
    font-weight: normal;
    margin-top: 15px;
}

.hasplan {
    display:none;
}

.planprices {
    border-top: 1px lightgray solid;
}

.planprices:first-child {
    border-top: none;
}

select.form-control {
    height: 4rem;
    line-height: 4rem;
}

fieldset {
    font-size:1.8rem;
}

fieldset legend {
    background-color: #CD5F5A;
    color: white;
    background-image: none !important;
}

a:hover.persona-button,
a:active.persona-button,
a:focus.persona-button {
    color: white;
}

@media only screen and (max-width:760px) {
    #wrapper {
        width: 98%;
        margin-bottom: -270px;
    }

    .row {
        margin-left: -15px;
    }

    .container {
        margin-top: 0px;
    }

    .main-image {
        border-radius: 5px;
        margin-top: 10px;
    }

    .messages {
        margin-top: 5px;
    }

    .alert {
        margin-bottom: 10px;
    }

    .mobile-logo {
        width: 200px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .main-logo {
        display: none;
    }
}

@media only screen and (max-width:1000px) {
    #wrapper {
        margin-bottom: -230px;
    }
}

/* Navigation
==================== */

#nav-main {
    float: right;
    position: relative;
    font-size: 14px;
    margin: 3px 0;
}

#navigation {
    padding: 5px;
    height: 40px;
    display: block;
    margin-right: 16px;
    float: none;
}

ul.dropdown-menu {
    position: absolute;
    top: 100%;
    right: -15px;
    background-color: @white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border-shadow: 0px 0px 2px rgba(0, 2px, 2px, 0.2);
    min-width: 140px;
    width: 140px;
    margin: 5px 0 0 0;
    z-index: 1000;
    display: none;
}

ul.dropdown-menu > li {
    overflow: hidden;
    display: block;
    line-height: 32px;
    margin: 0;
}


ul.dropdown-menu > li > a {
    clear: both;
    display: block;
    line-height: 32px;
    padding: 3px 20px 3px 10px;
    white-space: nowrap;
    min-width: 150px;
}

ul.dropdown-menu > li > a:hover {
    background-color: #149FEE;
    color: white;
}

#hamburger-button {
    display:none;
}

.username {
    padding-right: 5px;
}

a.dropdown-toggle:hover {
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    #hamburger-button {
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

    .dropdown-toggle {
        display: none;
    }

    #nav-main {
        float: left;
        position: relative;
        font-size: 14px;
        margin: 3px 0;
    }

    ul.dropdown-menu {
        position: absolute;
        top: 20px;
        left: -40px;
        background-color: @white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border-shadow: 0px 0px 2px rgba(0, 2px, 2px, 0.2);
        min-width: 150px;
        margin: 5px 0 0 0;
        z-index: 1000;
        display: none;
    }
}


/* Form errors
==================== */

small.error {
    color: #c00000;
    position: relative;
    top: -10px;
    left: 0px;
}

select.form-control + small.error {
    top: 0px;
}

/* Activities
==================== */

#activities-titles {
    padding: 20px;
}

#activities-titles h2,
#activities-titles h3 {
    text-align: center;
}

.view-all {
    display:inline-block;
    margin-top: 5px;
}

@media only screen and (max-width:760px) {
    #activities-titles {
        padding: 0px 20px;
    }
}


/* Footer
==================== */

#colophon,
#push {
    height: 180px;
}

#colophon {
    background-color: #CD5F5A;
    color: #eee;
    margin: 0px;
}

#colophon .footer-logo img {
    margin-bottom: 10px;
}

#colophon a:link,
#colophon a:active,
#colophon a:focus,
#colophon a:visited {
    color: white;
    text-decoration: underline;
}

#colophon a:hover {
    color: lightgray;
}

@media only screen and (max-width:1000px) {
    #colophon,
    #push {
        height: 230px;
    }

    #colophon .license {
        margin-left: 0px;
    }
}

@media only screen and (max-width:760px) {
    #colophon,
    #push {
        height: 270px;
    }
}
