/* Generic
==================== */

.container {
    max-width: 1000px;
}

#onlineshop {
    display: none;
}

.switch {
    text-align: right;
}

.switch label:first-child {
    float:left;
    font-weight: normal;
    margin-top: 15px;
}

.hasplan {
    display:none;
}

.planprices {
    border-top: 1px lightgray solid;
}

.planprices:first-child {
    border-top: none;
}

select.form-control {
    height: 4rem;
    line-height: 4rem;
}

fieldset {
    font-size:1.8rem;
}

fieldset legend {
    background-color: #CD5F5A;
    color: white;
    background-image: none !important;
}

a:hover.persona-button {
    color: white;
}

@media only screen and (max-width:760px) {
    #wrapper {
        width: 98%;
    }

    .row {
        margin-left: -15px;
    }

    h2.title {
        text-align: center;
    }
}

/* Navigation
==================== */

.main-logo {
    width: 130px;
}

#nav-main {
    float: right;
    position: relative;
    font-size: 14px;
    margin: 3px 0;
}

#navigation {
    padding: 5px;
    height: 40px;
    display: block;
    margin-right: 16px;
    float: none;
}

ul.dropdown-menu {
    position: absolute;
    top: 100%;
    right: -15px;
    background-color: @white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border-shadow: 0px 0px 2px rgba(0, 2px, 2px, 0.2);
    min-width: 150px;
    margin: 5px 0 0 0;
    z-index: 1000;
    display: none;
}

ul.dropdown-menu > li {
    overflow: hidden;
    display: block;
    line-height: 32px;
    margin: 0;
}


ul.dropdown-menu > li > a {
    clear: both;
    display: block;
    line-height: 32px;
    padding: 3px 20px 3px 10px;
    white-space: nowrap;
    min-width: 150px;
}

ul.dropdown-menu > li > a:hover {
    background-color: #149FEE;
    color: white;
}

#hamburger-button {
    display:none;
}

@media only screen and (max-width:760px) {
    #hamburger-button {
        display: inline;
        float: left;
        margin-right: 10px;
    }

    .dropdown-toggle {
        display: none;
    }

    .main-logo {
        width: 80px;
        float: right;
        margin-top: 5px;
    }

    #nav-main {
        float: left;
        position: relative;
        font-size: 14px;
        margin: 3px 0;
    }

    ul.dropdown-menu {
        position: absolute;
        top: 20px;
        left: -40px;
        background-color: @white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border-shadow: 0px 0px 2px rgba(0, 2px, 2px, 0.2);
        min-width: 150px;
        margin: 5px 0 0 0;
        z-index: 1000;
        display: none;
    }
}

/* Form errors
==================== */
small.error {
    margin: 0 0 20px 0;
    background-color: #c00000;
    border-color: #c00000;
    color: #fff;
}


/* Footer
==================== */

#colophon {
    background-color: #CD5F5A;
    color: #eee;
}

#colophon .footer-logo img {
    margin-bottom: 10px;
}

#colophon a:link,
#colophon a:active,
#colophon a:focus,
#colophon a:visited {
    color: white;
    text-decoration: underline;
}

#colophon a:hover {
    color: lightgray;
}
